.sidebar-btn-box {
    border-radius: 0px;
    border-style: none;
    padding-top: 15px;
}


.sidebar-btn-box:hover {
    background: rgb(133, 130, 130);
}

.active-sidebar {
    border-left: 4px;
    border-style:solid;
    border-color: rgb(189, 63, 14);
}


.empty-collections-box {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.collection_box {
    padding-left: 9px;
    padding-right: 5px;
    margin-bottom: 5px;
}


.collections_list {
    background: None;
}


.collection_actions_box {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}


.collection_actions_box-icon {
    margin-left: 5px;
}



.requests_box {
    padding-left: 9px;
    padding-right: 5px;
    margin-bottom: 5px;
}


.color-blue {
    background: rgb(11, 11, 148);
}


.color-red {
    background: rgb(163, 8, 8);
}


.color-orange {
    background: rgb(170, 50, 2);
}

.color-green {
    background: rgb(11, 146, 78);
}

listview row {
    background-color:transparent;
}

.requests_view_box {
    padding-left: 9px;
    padding-right: 9px;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

editablelabel stack text {
    border-radius: 5px;
    border: 2px solid rgb(189, 63, 14);
}


.requests_menu {
    margin-right: 3px;
}

.send_requests_btn {
    margin-left: 3px;
}

.requests_actions_box {
    margin-top: 8px;
}