.sidebar-btn-box {
    border-radius: 0px;
    border-style: none;
    padding-top: 15px;
}


.sidebar-btn-box:hover {
    background: rgb(133, 130, 130);
}

.active-sidebar {
    border-left: 4px;
    border-style:solid;
    border-color: rgb(189, 63, 14);
}


.empty-collections-box {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.collection_box {
    padding-left: 5px;
    padding-right: 3px;
}


.collections_list {
    background: None;
}
