.sidebar-btn-box {
    border-radius: 0px;
    border-style: none;
    padding-top: 15px;
}


.sidebar-btn-box:hover {
    background: rgb(133, 130, 130);
}

.active-sidebar {
    border-left: 4px;
    border-style:solid;
    border-color: rgb(17, 17, 122);
}

.window-bg {
    background: red;
}